body {
visibility: hidden;
margin: 0;
padding: 0;
}
   /* custom tooltip css */
   .yui-tt { visibility:hidden;  
   			  position:absolute;
             color:#333; 
			 background-color:#FDFFB4;
             font-family:arial,helvetica,verdana,sans-serif;
             padding:2px;
             border:1px solid #FCC90D;
             font:90% sans-serif;
             max-width:100px;
   }   

.uploadButton a, .clearButton a {
		display:block;
		width:100px;
		height:40px;
		text-decoration: none;
		margin-left:5px;
	}
	
	.uploadButton a {
		background: url("yui/examples/uploader/assets/uploadFileButton.png") 0 0 no-repeat;
	}
	
	.clearButton a {
		background: url("yui/examples/uploader/assets/clearListButton.png") 0 0 no-repeat;
	}
	
    .uploadButton a:visited, .clearButton a:visited {
		background-position: 0 0;
	}
	
    .uploadButton a:hover, .clearButton a:hover {	
		background-position: 0 -40px;
	}
	
    .uploadButton a:active, .clearButton a:active {
		background-position: 0 -80px;
	}


/* Aqua Panel Skin CSS */
label { 
    display:block;
    float:left;
    width:20%;
    clear:left;
}

.clear {
    clear:both;
}
.menu-disabled{
display: none;
}

.menu-enabled{
display:block;
}

#scroll-content{
    position: absolute;
    top: 9px;
    left: 450px;
    font-size: 85%;
	
	width:47%;
	height:22px;
	border:1px solid #999999;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#d0d0d0;
}

#scrollerTabs {
 position: absolute;
    top: 5px;
    left: 32.5%;
    font-size: 85%;
	width:47%;
	height:25px;
	
}

.scroller-content{
    width:"98%";
	height:22px;
	border:1px solid #999999;
	font-family:Tahoma;
	color:#777;

	-moz-border-radius: 5px;
	border-radius: 5px; /* for Opera 10.5, IE9 and future-proofing */

	background-color:rgba(244, 162, 4, 0.2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F4A204), to(#FCFBF8) ); /* for Chrome + Safari */
	background-image: -moz-linear-gradient( left bottom, #F4A204, #FCFBF8 );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4A204', endColorstr='#FCFBF8'); /* ( IE only */
}

tr.s_chart2 {
line-height:.8;
__display:block;
font-size:90%;
padding-bottom:2px;
border-bottom:1px solid #777;
} 

tr.s2_chart2 {
font-size:90%;
}

#tradersTreeMenu .bd {
 border-radius: 5px;
 -moz-border-radius: 5px;
 background:url(css/images/bt_back.png) repeat-x 0 0;
 -moz-background-size: 100% 100%;
 }

#datesTreeMenu .bd {
 border-radius: 5px;
 -moz-border-radius: 5px;
 background:url(css/images/bt_back.png) repeat-x 0 0;
 -moz-background-size: 100% 100%;
 }
  
table.scroller {
  font-family:Tahoma, "Times New Roman", Times, serif;
  color:#a0a0a0;
  width:100%;
  __background:url(css/images/bt_back.png) repeat-x 0 0;
 }
 
#scroller{
 background: transparent url(../yui/images/scroller_back.png) repeat-x 0 0;
 font-family:Georgia, "Times New Roman", Times, serif;
 color:#e0e0e0;
}

table.scroller td span {
 color:#616161;
 __width:80px;
 text-align:center;
 float:left;
 __border:1px solid #ccc;
 }

table.scroller td em {
 font-weight:bold;
 color:#616161;
 text-align:left;
 float:left;
 padding-right:3px;
 }


#scroller_tm
{
 float:left;
 color: #993333;
 font-weight:bold;
 cursor:pointer;
 }
.scroller_href
{
 float:left;
 color: #414141;
 border:1px solid #999;
 height:12px;
 padding:2px;
 text-align:center;
 font-style: inherit;
 font: 99% arial,helvetica,clean,sans-serif;
 border-radius: 3px;
 -moz-border-radius: 3px;
 background:url(css/images/bt_back.png) repeat-x 0 0;
 cursor:pointer;
 }

 a.scroller_href:hover 
{
 color:#914141;
 }

.navi_over  {
  color: #bb5555;
}

.navi_clicked  {
  color: #bbbb00;
}

table.scroller td div.icon{
	position: relative;
	float:left;
    display: block;
    top: 3px;
    padding-left: 3px;
    height: 16px;
    width: 16px;
    background-image: url( yui/examples/layout/assets/css/example.png);
    background-repeat: no-repeat;
    background-position: -120px 0;
}

#protect{
border-top:1px solid #333;
border-bottom:1px solid #333;
position:absolute;
left:0;
bottom:21px;
height:100%;
padding-left:2px;
overflow: hidden;
__background-color: #A4B4BA;
background:#fff url(css/images/protect_back.png) repeat-y 0 0;
opacity:0.55;
filter:alpha(opacity=55);
width: 0;
height:0;
z-index: 1000;
}

#protect_internal{
height:56px;
width:158px;
top:45%;
opacity:0.99;
filter:alpha(opacity=99);
background-image:url(css/images/protect_internal.png);
background-repeat: no-repeat;
background-attachment:scroll;
background-position:center;
position:absolute;
}

#doctypename{
color: #993300;
font-weight:bold;
}

#docHTMLtitle{
color: #993300;
font-family:Georgia, "Times New Roman", Times, serif;
font-style:italic;
font-size:inherit;
font-weight:bold;
}

#help-tree{
border-top:1px solid #990099;
border-bottom:1px solid #990000;
background:#fff url(css/images/help-backg.png) no-repeat top center;
font-size:10px;
__margin-top:1em; 
padding-left:2px; 
min-height:7em;
height:650px;
width: 155px;
overflow-y:auto;
}

#docs{
position:absolute;
left:0;
top:3px;
width:140px;
height:25px;
}

.yui-skin-sam .yui-dt td.ob-bid{
background-color:#006633;
color:#FFFFFF;
}

.yui-skin-sam .yui-dt td.ob-ask{
background-color:#990000;
color:#FFFFFF;
__height:260px;
}

button.btn { 

  font: bold 84%'trebuchet ms',helvetica,sans-serif; 
  color:#999999;
  background-color: #dfdfdf; 
} 

button.btnhov { 
	  border-color: #c63 #930 #930 #c63;
	  color:#FFFFFF; 
	  }

div#QuerySec___ {
width:350px;
height:auto;
}

button.qbtn { 
  background:url(yui/examples/calendar/assets/calbtn.gif);
  background-color: #dfdfdf;
  margin-right:3px; 
} 

select.qdate_cr{
__width:60px;
float:left;
height:22px;
__background-color: #dfdfdf;
background:url(css/images/bt_back.png) repeat-x 0 0;
color:#993300;
}

input.qerror{
color:#CC0000;
}

span.qtext {
 border: ridge thin #CCCCCC;
 background-color: #ffffff;
 color:#666666;
 width:25px;
 height:15px;
 float: left;
 padding-left:2px;
 margin-right:3px;
 }
 
form#QuerySecForm{
__width:350px;
font:Arial, Helvetica, sans-serif;
font-size:85%;
background-color:#FCFCFC;
color:#777777;
}

table.qform_tablestyle{
__width:350px;
}

span.qheader{
line-height:20px;
font-weight:bold;
text-decoration:underline;
}

span.qlabel{
 width:60px;
 float: left;
 padding-left:2px;
}

span.qlabel2{
 width:40px;
 float: left;
 padding-left:10px;
 padding-right:2px;
}

span.qlabel3{
 width:25px;
 float: left;
 padding-left:5px;
 padding-right:2px;
}

.scButton_default {
-moz-border-radius:4px 4px 4px 4px;
background-color:#FFFFFF;
background-image:url("css/images/b2_back.png");
border-color:#CCCCCC #777777 #777777 #CCCCCC;
border-left:1px solid #CCCCCC;
border-right:1px solid #777777;
border-style:solid;
border-width:1px;
color:#000000;
font-family:Arial,sans-serif;
font-size:12px;
font-weight:normal;
padding:0 1px;
}

.scGridFieldOddVert {
background-color:#FFFFFF;
border-color:#D2D2D2;
border-style:solid;
border-width:1px 0;
color:#000000;
font-family:Arial,sans-serif;
font-size:12px;
padding:2px 4px;
text-decoration:none;
}

.qclearlist {
width:40px;
}

button.qbutton {
 background:url(css/images/bt_back.png) repeat-x 0 0;
}

#t_OraSecs {
 background-color:#FCFCFC;
 border:1px solid #ccc;
 font-size:120%;
 }

#t_OraSecs thead{
 background:url(css/images/bt_back.png) repeat-x 0 0;
 color:#777;
 height:18px;
 }

#t_OraSecs thead th{
 height:18px;
 padding-right:2px;
 padding-left:3px;
 text-align:center;
 }
#t_OraSecs tr td {
 text-align:center;
 font-size:85%;
 }

  
#QuerySec .yui-skin-sam .yui-panel {
border:none;
}
 
#QuerySec.yui-panel .hd {
		padding:0;
		border:none;
		background:url(yui/examples/container/assets/img/aqua-hd-bg.gif) repeat-x;
		-moz-transition-property: width, height; /* FF4 future-proofing */
   		-moz-transition-duration: .5s;
    	-moz-transition-timing-function: linear;

		color:#000;
		height:22px;
		margin-left:1px;
		margin-right:1px;
		text-align:center;
		overflow:visible;
	}	
#QuerySec.yui-panel .hd:hover {
    __width: 400px;
    height: 25px;
}

#bubbleSettings.yui-panel, #QuerySec.yui-panel .bd {
		font-size:90%;
		__-moz-background-size: 90% 90%;
		-moz-border-radius: 15px;
		border-radius: 12px; /* for Opera 10.5, IE9 and future-proofing */

		background-color:rgba(200, 250, 251);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#DFDEDA), to(#F5F5F2) ); /* for Chrome + Safari */
		background-image: -moz-linear-gradient( left top, #E5E2CE, #FEFCE9 );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDEDA', endColorstr='#F5F5F2'); /* ( IE only */
		__background-color:rgba(200, 250, 251); /*#F0F5F6;*/
		__background: rgba(255, 0, 0, 0.2);
		__background:url(css/images/qform_back.png) repeat-x;
		/*  Shadow  */
		-webkit-box-shadow: 5px 5px 5px #777; /* for Chrome + Safari */
   		-moz-box-shadow: 3px 3px 3px #999; /* for Firefox */
   		box-shadow: 5px 5px 5px #777; /* for Opera 10.5, IE9  and future-proofing */

		overflow:hidden;
	}

#qinternal {
		
		__background-image: -moz-linear-gradient( top, #F9EFA4, #FDF9DE );
		background-color: rgb( 235, 244, 239 ); /* fallback color */
		background-color: rgba(235, 244, 239, 0.2);
		border:1px solid #777777;
		width:380px;
		height:100%;
		padding:7px;
		display:block;
}

#QuerySec_hd {
		width:360px;
		__background:url(css/images/qform_hd.png) repeat-x;
		z-index:1;
		height:20px;
		position:relative;
		left:0px;
		top:0px;
}

#bubbleSettings_hd {
		width:360px;
		__background:url(css/images/qform_hd.png) repeat-x;
		z-index:1;
		height:20px;
		position:relative;
		left:0px;
		top:0px;
}
#qBody {
  position:relative;
  left:0;
  top:0;
  __visibility:visible;
 }
#qBody2 {
  position:relative;
  left:0;
  top:0;
  visibility: hidden;
 }
 
#qpage {
 float:right;
 width:100px;
 height:20px;
 cursor:pointer;
 -moz-transition-property: background, height; /* FF4 future-proofing */
 -moz-transition-duration: .5s;
 -moz-transition-timing-function: linear;
}

#qpage:hover {
    background: rgba(235, 244, 239, 0.1);
    height: 25px;
}

#QuerySec.yui-panel .hd .tl {
		width:7px;
		height:22px;
		top:0;
		left:0;
		background:url(yui/examples/container/assets/img/aqua-hd-lt.gif) no-repeat;
		position:absolute;
	}
#QuerySec.yui-panel .hd .tr {
		width:7px;
		height:22px;
		top:0;
		right:0;
		background:url(yui/examples/container/assets/img/aqua-hd-rt.gif) no-repeat;
		position:absolute;
	}	
#QuerySec.yui-panel .ft {
		font-size:85%;
		color:#666;
		padding:2px;
		overflow:hidden;
		border:1px solid #aeaeae;
		border-top:none;
		background-color:#dfdfdf;
	}
	  
span.sf-text {
 border: ridge thin #CCCCCC;
 background-color: #ffffff;
 color:#666666;
 width:90px;
 height:15px;
 float: left;
 padding-left:2px;
 }


span.sf-price {
 border: ridge thin #CCCCCC;
 background-color: #ffffff;
 color:#666666;
 width:40px;
 height:15px;
 float: left;
 padding-left:2px;
 }
  
span.sf-legent{
 color:#f66f66;
 height:15px;
 float: left;
 }
 
 .trade{
 height:12px;
 background-color:#FD6B43;
 color:#ffffff;
 }
 
 .order-buy{
 padding-left:2px;
 color:#00af60;
 }
 
 .order-sell{
 padding-left:2px;
 color:#af0080;
 }
 
 .order-mm{
 __border-top:1px solid #2266CC;
 __border-bottom:1px solid #2266CC;
 background-color: #eeeeee;
 color:#000000;
 background:transparent url(css/images/order-mm.png) no-repeat top right;
 }
 
 .order-deleted {
 color:#999999;
 background:transparent url(css/images/order-deleted.png) no-repeat top right;
 }
 
 .order-inactive{
 color:#999999;
 background:transparent url(css/images/order-inactive.png) no-repeat top right;
 }
 
	/* Skin default Panel elements */
	#SecInfo_c.yui-panel-container.shadow .underlay {
		position:absolute;
		background-color:#000;
		opacity:0.12;
		filter:alpha(opacity=12);
		left:3px;
		right:-3px;
		bottom:-3px;
		top:3px;
	}
	#SecInfo.yui-panel {
		border:none;
		overflow:visible;
		background-color:transparent;
	}

	/* Apply styles to the close icon to anchor it to the left side of the header */
	#SecInfo.yui-panel .container-close {
		position:absolute;
		top:3px;
		left:4px;
		height:18px;
		width:17px;
		background:url(yui/examples/container/assets/img/aqua-hd-close.gif) no-repeat;
	}
	/* span:hover not supported on IE6 */
	#SecInfo.yui-panel .container-close:hover {
		background:url(yui/examples/container/assets/img/aqua-hd-close-over.gif) no-repeat;
	}

	/* Style the header and apply the rounded corners, center the text */
	#SecInfo.yui-panel .hd {
		padding:0;
		border:none;
		background:url(yui/examples/container/assets/img/aqua-hd-bg.gif) repeat-x;
		color:#000;
		height:22px;
		margin-left:7px;
		margin-right:7px;
		text-align:center;
		overflow:visible;
	}
	/* Style the body and footer */
	#SecInfo.yui-panel .bd {
		overflow:hidden;
		padding:4px;
		border:1px solid #aeaeae;
		background-color:#F9F9F9;
	}
	#SecInfo.yui-panel .ft {
		font-size:85%;
		color:#666;
		padding:2px;
		overflow:hidden;
		border:1px solid #aeaeae;
		border-top:none;
		background-color:#dfdfdf;
	}
#SecInfo.yui-panel .ft span {  
     line-height:22px;   
     vertical-align:middle;   
 } 
 #SecInfo.yui-panel .ft .bl {  
     width:8px;   
     height:26px;   
     bottom:0;   
     left:0;   
     background:url(yui/examples/container/assets/img/xp-bl.gif) no-repeat;   
     position:absolute;   
 } 
 #SecInfo.yui-panel .ft .br {  
     width:8px;   
     height:26px;   
     bottom:0;   
     right:0;   
     background:url(yui/examples/container/assets/img/xp-br.gif) no-repeat;   
    position:absolute;   
 }  

	/* Skin custom elements */
	#SecInfo.yui-panel .hd span {
		vertical-align:middle;
		line-height:22px;
		font-weight:bold;
	}
	#SecInfo.yui-panel .hd .tl {
		width:7px;
		height:22px;
		top:0;
		left:0;
		background:url(yui/examples/container/assets/img/aqua-hd-lt.gif) no-repeat;
		position:absolute;
	}
	#SecInfo.yui-panel .hd .tr {
		width:7px;
		height:22px;
		top:0;
		right:0;
		background:url(yui/examples/container/assets/img/aqua-hd-rt.gif) no-repeat;
		position:absolute;
	}

    #speed {
    
        padding: 1em;
    
    }


.yui-pe .yui-pe-content {
    display:none;
}


    /*
        Set the "zoom" property to "normal" since it is set to "1" by the 
        ".example-container .bd" rule in yui.css and this causes a Menu
        instance's width to expand to 100% of the browser viewport.
    */
    
    div.yuimenu .bd {
    
        zoom: normal;
    
    }
    

    /* Style the <div> element containing the Button instance */
    
    #speedcontrols {
    
        bor__der-top: solid 1px #000;
        padding: .5em .25em;
        mar__gin-top: .5em;
    
    }


    /* Style the Slider instance */

    #hsliderbg {
        position: relative;
        background: url(yui/build/slider/assets/bg_mkt_slider.gif) 7px 12px no-repeat;
        height: 28px;
        width: 310px; 
		float:left;
    }
	
	#custom_sliderbg {
        position: relative;
        background: url(yui/build/slider/assets/bg_cu_slider.gif) 7px 12px no-repeat;
        height: 32px;
        width: 320px;
		 
    }

    #hsliderthumb {
        cursor: default;	
        position: absolute;
        top: 4px;
    }
	#sliderRangeMinThumb{
	    cursor: default;
        position: absolute;
        top: 1px;
	}
	#sliderRangeMaxThumb{
	    cursor: default;
        position: absolute;
        top: 20px;
	}
     #vsliderbg {
    
        position: relative;
        background: url(yui/build/slider/assets/bg-v-e.gif) 5px 7px no-repeat;
        height: 200px;
        width: 36px;
		left:-5px;
		float:left;
		background-color: #BBBBBB;
		__filter:alpha(opacity=90);
		___opacity: 0.9;
		__-moz-opacity:0.9;
   	 }

    #vsliderthumb {
        cursor: default;
        position: absolute;
        top: 4px;
    }
#speedbutton-currentopacity 
{
width: 3em;
font-style: normal;
display: block;
text-align: left;
}
#speedbutton  {
vertical-align: middle;		
	}

.yuimenubar{position: relative;}
    #productsandservices {        
        position: static;
    }


    #productsandservices2 .yuimenuitemlabel {
        _zoom: 1;
    }

    #productsandservices2 .yuimenu .yuimenuitemlabel {
        _zoom: normal;
    }
    
	
	/*
        Turn off the border on the top unit since Menu has it's own border
    */
    .yui-skin-sam .yui-layout .yui-layout-unit-top div.yui-layout-bd {
        border: none;
    }
    /*
        Change some of the Menu colors
    */
    .yui-skin-sam .yuimenu .bd {
        background-color: #F2F2F2;
    }
    #productsandservices2 .bd {
        border: none;
    }
    #productsandservices2 .bd .first-of-type .bd {
        border: 1px solid #808080;
    }
/** 
*
* Style the yui-dt-expandablerow-trigger column 
*
**/
.yui-dt-expandablerow-trigger{
    width:18px;
    height:22px;
    cursor:pointer;
}
.yui-dt-expanded .yui-dt-expandablerow-trigger{
    background:url(arrow_open.png) 4px 4px no-repeat;
}
.yui-dt-expandablerow-trigger, .yui-dt-collapsed .yui-dt-expandablerow-trigger{
    background:url(arrow_closed.png) 4px 4px no-repeat;
}
.yui-dt-expanded .yui-dt-expandablerow-trigger.spinner{
    background:url(spinner.gif) 1px 4px no-repeat;
}

/** 
*
* Style the expansion row
*
**/
.yui-dt-expansion .yui-dt-liner{
    padding:0;
    border:solid 0 #bbb;
    border-width: 0 0 2px 0;
}
.yui-dt-expansion .yui-dt-liner th, .yui-dt-expansion .yui-dt-liner table{
    border:none;
    background-color:#fff;
}
.yui-dt-expansion .yui-dt-liner th, .yui-dt-expansion .yui-dt-liner table th{
    background-image:none;
    background-color:#eee;
}
.yui-dt-expansion .yui-dt-liner th, .yui-dt-expansion .yui-dt-liner table td{
    border:solid 0 #eee;
    border-width: 0 0 1px 1px;
}
.yui-dt-expansion .yui-dt-liner th, .yui-dt-expansion .yui-dt-liner table td div{
    padding:3px;
    overflow:hidden;
    width:100px;
}
.yui-dt-expansion .yui-dt-liner th, .yui-dt-expansion .yui-dt-liner table td.big div{
    width:300px;
}
.yui-dt-expansion .yui-dt-liner th, .yui-dt-expansion .yui-dt-liner table td ul{ padding:0;margin:0; }

div.buyers_hdr{
    vertical-align:middle;
	line-height:14px;
	font-weight:bold;
	font-size:12px;
	color:#006600;
	float:left;
	width:165px;
	height:22px;
	padding-right:10px;
	padding-left: 8px;
	text-align:center;
	background: #B3D4FF url(yui/examples/layout/assets/css/sprite.png) repeat-x scroll left -100px;
}

div.sellers_hdr{
    vertical-align:middle;
	line-height:14px;
	font-weight:bold;
	font-size:12px;
	color:#660000;
	float:right;
	width:165px;
	height:22px;
	padding-right:10px;
	padding-left: 8px;
	text-align:center;
	background: #B3D4FF url(yui/examples/layout/assets/css/sprite.png) repeat-x scroll left -100px;
}

#div_trades {
	__overflow: -moz-scrollbars-vertical;
	__overflow-y: scroll;
	}
#div_tv_tv {
font-size:76%;
width: 170px;
}

#div_dates_tv {
font-size:11px;
}

.traders_title_bold {
  font-weight:bold;
   font-family:Georgia, "Times New Roman", Times, serif;
  }
 
 .traders_title_font {
  font-family: Arial;
  line-height:.9;
   }
span.traders_multiline {
    white-space:nowrap;

   text-overflow:ellipsis;

   overflow:hidden;

   width:190px;

   display:block;
	  }

 
.traders_footer {
 background: #B3D4FF url(yui/examples/layout/assets/css/sprite.png) repeat-x scroll left -1400px;
 color:#FFFFFF;
}

.traders_footer_button {
  float: none;
}

#div_traders_info {
__overflow:auto;
__width:700px;
 }

#div_nodeInfo {
 }

.icon-par { display:block; height: 22px; padding-left: 20px; background: transparent url(yui/examples/treeview/assets/img/icons.png) 0 -144px no-repeat; }
.icon-chap { display:block; height: 22px; padding-left: 20px; background: transparent url(yui/examples/treeview/assets/img/icons.png) 0 0px no-repeat; }
.icon-doc { display:block; height: 22px; padding-left: 20px; background: transparent url(yui/examples/treeview/assets/img/icons.png) 0 -108px no-repeat; }

.icon-investor { display:block; height: 18px; padding-left: 20px; background: transparent url(yui/examples/treeview/assets/img/icons.png) 0 -252px no-repeat; }
.icon-trader { display:block; height: 18px; padding-left: 20px; background: transparent url(yui/examples/treeview/assets/img/icons.png) 0 -72px no-repeat; }
.icon-member { display:block; height: 18px; padding-left: 20px; background: transparent url(yui/examples/treeview/assets/img/icons.png) 0 -289px no-repeat; }
.icon-sec { display:block; height: 18px; padding-left: 20px; background: transparent url(yui/examples/treeview/assets/img/icons.png) 0 0px no-repeat; }
